.LoginPanel {
    position: fixed;
    top: -1px;
    right: 20px;
    z-index: 1;
}

.LoginPanel
.pane-content {
    color: #FFFFFC;
    background: #6E5886;

    border: 1px solid #6E5886;
    border-bottom-left-radius: 4px;
    padding: 10px;
}

.LoginPanel
.pane-footer {
    text-align:right;
}

.LoginPanel
.button-tab {
    position: relative;
    top: -1px;

    border-top: 1px solid #6E5886;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.LoginPanel
.login-panel-form {
    margin: 0px;
}

.LoginPanel
.login-panel-form
input {
    background: #A290B6;
    color: #fff;
    border: 0px;
}

.LoginPanel
.login-panel-form
input[readonly] {
    color: #bcaeca;
    background: #84709B;
}

.LoginPanel
.login-panel-form
::-webkit-input-placeholder {
   color: #d6ccde;
}
.LoginPanel
.login-panel-form
:-moz-placeholder { /* Firefox 18- */
   color: #d6ccde;  
}
.LoginPanel
.login-panel-form
::-moz-placeholder {  /* Firefox 19+ */
   color: #d6ccde;  
}
.LoginPanel
.login-panel-form
:-ms-input-placeholder {  
   color: #d6ccde;  
}

.LoginPanel
.error {
    width: 100%;

    margin-top: 14px;
    margin-bottom: 10px;
    padding: 5px 10px;
    box-sizing: border-box;

    background: #ff6c62;
    color: #fff;

    border: 1px solid #ffb4ad;
    border-radius: 4px;
}

.LoginPanel
.button-primary {
    margin-top: 14px;
}

.LoginPanel
.logout-button {
    font-size: 1.4em;
    padding: 0px;
    margin: 0px;
    height: 24px;
    line-height: 24px;
}

.LoginPanel
.logout-text {
    font-size: 16px;
    text-transform: initial;
    line-height: 18px;
    font-weight: 200;
    vertical-align: top;
}

.LoginPanel
.logout-text + i {
    vertical-align: top;
}


/*  Transition for login panel */
.LoginPanel
.top-slide-enter,
.LoginPanel
.top-slide-leave {
    transform: translateY(-80%);
}