/* ---- Colours ---- */
/* Primary   
   #FFFFFC
*/

/* Secondary 
   #6E5886
*/

/* Highlight 
   #528374
*/

/* Paletton
http://paletton.com/palette.php?uid=54w1o0kb%2BoS7ozN9LsLdKlAeri8
*/


/* ---- Font Imports ---- */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300);



/* ---- General CSS ---- */

body {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;

    overflow: hidden;
    background-color: #FFFFFC;
}

h1,h2,h3,h4,.title {
	font-family: 'Roboto', sans-serif;
}

button, a, .button,
button:focus, a:focus, .button:focus {
    background-color: #6E5886;
    border-color: #6E5886;
    color: #FFFFFC;
}

button:hover, a:hover, .button:hover,
button:focus, a:focus, .button:focus {
    background-color: #4C3962;
    border-color: #4C3962;
    color: #A290B6;
}

button:active, a:active, .button:active {
    -webkit-box-shadow: inset 5px 5px 30px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 5px 5px 30px 5px rgba(0,0,0,0.3);
    box-shadow: inset 5px 5px 30px 5px rgba(0,0,0,0.3);
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, 
input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, 
input[type="password"]:focus, textarea:focus, select:focus {
    border-color: #4C3962;
}

button.button-primary, a.button-primary, .button.button-primary,
button.button-primary:focus, a.button-primary:focus, .button.button-primary:focus {
	background: #528374;
    border-color: #528374;
    color: #FFFFFC;
}

button.button-primary:hover, a.button-primary:hover, .button.button-primary:hover,
button.button-primary:focus, a.button-primary:focus, .button.button-primary:focus {
    background-color: #345F52;
    border-color: #345F52;
    color: #89B3A6;
}


.main {
    position: absolute;
    height: 100%;
    width: 100%;
}

.main
.side-panel,
.main
.main-panel {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.main
.side-panel {
    width: 20%;
}

.main
.main-panel {
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.transition-base {
    -webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
         -o-transition: 1s;
            transition: 1s;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide number field buttons */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


/* ---- Media Queries ---- */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/** ie10mobile.css **/
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}