<div class="ProjectGrid" v-if="store && scorecard">
    <h4 class="project-header" v-text="scorecard.name"></h4>

    <table class="grid-panel">
        <thead>
            <tr>
                <th class="row-label corner-label">Requirements</th>
                <!-- Currently selected providers -->
                <th v-for="selected_provider in scorecard.providers">
                    <!-- REMOVED: logic needed to reassign the current scores for provider to newly selected provider -->
                    <!-- <select v-model="selected_provider">
                        <option v-bind:value="selected_provider"> {{ selected_provider.name }} </option>
                        <option v-for="provider in remaining_providers" v-bind:value="provider"> {{ provider.name }} </option>
                    </select> -->
                    {{ selected_provider.name }}
                    <div @click="remove_provider(selected_provider)">x</div>
                </th>
                <!-- Add new provider selector -->
                <th id="add-provider-cell">
                    <select class="add-selector" v-model="selected.provider">
                        <option value=""> Add Competitor... </option>
                        <option v-for="provider in remaining_providers" 
                                v-bind:value="provider"> {{ provider.name }} 
                        </option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="requirement in sorted_requirements">
                <td class="row-label"> {{ requirement.name }} </td>

                <td v-for="provider in sorted_providers" 
                    v-bind:class="class_for(provider, requirement)"> 

                        <input  class="score-value u-full-width" 
                                type='number' 
                                v-model='score_for(provider,requirement).score'>
                        </input> 
                </td>
                <td>
                    <div @click="remove_requirement(requirement)">X</div>
                </td>
            </tr>
            <!-- Add New Requirement selector -->
            <tr>
                <td id="add-requirement-cell">
                    <select class="add-selector" v-model="selected.requirement">
                        <option value=""> Add Requirement... </option>
                        <option v-for="requirement in remaining_requirements" 
                                v-bind:value="requirement"> {{ requirement.name }} 
                        </option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="grid-footer">
        <table>
            <thead>
                <tr>
                    <th class="row-label">
                        <select class="scoring-options" v-model="selected_scoring_method">
                            <option v-for="method in scoring_methods" v-bind:value="method.value"> {{ method.text }} </option>
                        </select>
                    </th>
                    <th v-for="provider in sorted_providers">
                        <span class="total-value" v-text="selected_scoring_method(provider)"></span>
                    </th>
                    <th class="corner-label"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
