<div class="ProjectGrid" v-if="project">
    <h4 class="project-header" v-text="project.name"></h4>
    <table class="grid-panel">
        <thead>
            <tr>
                <th class="row-label corner-label">Requirements</th>
                <th class="column-label" v-for="provider in sorted_providers">
                    <input class="u-full-width" type="text" v-model='provider.name'>
                </th>
                <th class="column-label">
                    <input class="u-full-width" type="text"></input>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="req in sorted_requirements">
                <td class="row-label">
                    <input class="u-full-width" type="text" v-model='req.requirement' placeholder="Add Requirement">
                </td>
                <td v-for="provider in sorted_providers"> 
                    <input class="score-value u-full-width" type='number' v-model='score_for(provider,req).score'></input> 
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="row-label">
                    <input class="u-full-width" type="text"></input>
                </td>
                <td v-for="_ in sorted_providers"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="grid-footer">
        <table>
            <thead>
                <tr>
                    <th class="row-label">Total Score</th>
                    <th v-for="provider in sorted_providers">
                        <span class="total-value" v-text="total_for(provider)"></span>
                    </th>
                    <th class="corner-label"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
