.ProjectGrid {
	position: relative;
    width: 100%;
    height: 100%;
    background-color: #E0E0E0;
}

.ProjectGrid
.header {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 1;

    background: #FFF;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.ProjectGrid
.header .logo-container {
    position: absolute;
    height: 30px;
}

.ProjectGrid
.header .logo-container
.logo {
    max-height: 100%;
    vertical-align: middle;
}

.ProjectGrid
.header .logo-container
.page-title {
    font-size: 18px;
    line-height: 30px;
    vertical-align: text-top;
    color: #4A3A5D;
}

.ProjectGrid
.not-found-notice {
	text-align: center;
	width: 100%;
}

.ProjectGrid
.panel-container {
    height: 100%;
    overflow: auto;
}

.ProjectGrid
table {
	margin-bottom: 0px;
	border: 0px;
}

td {
	padding: 0px;
}

.ProjectGrid
table
td,
.ProjectGrid
table
th {
	width: 0;
	text-align: center;
}

.ProjectGrid
.project-title {
    margin-bottom: 0px;

    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
    font-size: 1.8em;
}

.ProjectGrid
.project-header {
	color: #0C2C2C;
    margin: 0;
}

.ProjectGrid
.save-status {
    font-weight: bold;
    color: #E0E0E0;
    line-height: 30px;
    vertical-align: text-top;
    margin-left: 20px;
}

.ProjectGrid
.grid-panel {
	width: 100%;
	background-color: #FFFFFC;
    margin-bottom: 90px;
}

.ProjectGrid
.grid-panel
td,
.ProjectGrid
.grid-panel
th {
	padding-top: 0px;
	padding-bottom: 0px;
	min-width: 8px;
	max-width: 16px;
	box-sizing: border-box;
}

input, textarea, select, fieldset {
    margin-bottom: 0rem;
}

.ProjectGrid
.grid-panel
thead {
	background-color: #FFFFFF;
	font-style: 17px;
	color: #0C2C2C;
}

.ProjectGrid
.grid-panel
input {
	margin: 0px;
	border-radius: 0px;
	border: none;
	text-align: center;
}

.ProjectGrid
.corner-label {
	padding: 0px 16px;
	color: #0C2C2C;
}

.ProjectGrid
.header-row
th {
    border-bottom: 2px solid #6E5886;
    padding-top: 10px;
    padding-bottom: 10px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ProjectGrid
.header-row
th .project-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ProjectGrid
.header-row
th.corner-label {
    padding-left: 16px;
}

.ProjectGrid
.row-label {
    position: relative;
	margin: 0px;
	padding-left: 16px;
	text-align: left;
}

.ProjectGrid
.row-label
input {
	text-align: left;
}

.ProjectGrid
.column-label {
    position: relative;
	margin: 0px;
}

.ProjectGrid
.column-label
input {
	background-color: #3A9A9A;
	color: #fff;
}

.ProjectGrid
.requirement-label {
    display: inline-block;
}

.ProjectGrid
.requirement-row
td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ProjectGrid
.requirement-cell,
.ProjectGrid
.scoring-method-cell {
    width: 25%;
}

.ProjectGrid
.provider-cell {}

.ProjectGrid
.provider-cell:hover {
    overflow: visible;
    white-space: inherit;
}

.ProjectGrid
.provider-cell,
.ProjectGrid
.score-cell,
.ProjectGrid
.score-total-cell {
    width: 66px;
}

.ProjectGrid
.score-cell,
.ProjectGrid
.score-total-cell {
    white-space: nowrap;
    padding: 5px 0px;
}

.ProjectGrid
.score-value {
	font-size: 1.4em;
}


/* Footer Panel */

.ProjectGrid
.grid-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.ProjectGrid
.grid-footer
table {
	width: 100%;
	background-color: #3A9A9A;
	color: #fff;
}

.ProjectGrid
.grid-footer
th {
	border: 0px;
	box-sizing: border-box;
}

.ProjectGrid
.total-value {
	font-size: 1.4em;
    width: 60px;
    height: 30px;
    display: inline-block;
}

.ProjectGrid
.resource-picker {
	margin: 0px;
    border: 0px;

    color: #6E5886;
    background: transparent;
}

.ProjectGrid
.scoring-row {
    margin-top: 16px;
    background: #fff;
}

.ProjectGrid
.scoring-row
td {
    border-top: 2px solid #6E5886;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ProjectGrid
.scoring-options {
    border: 0px;
    width: 100%;
    background-color: #fff;
}

.ProjectGrid
.won
input {
	background-color: #52A55C;
	color: white;
}

.ProjectGrid
.drew
input {
	background-color: #D4C76A;
	color: white;
}

.ProjectGrid
.lost
input {
	background-color: #D4886A;
	color: white;
}

.ProjectGrid
.score-five,
.ProjectGrid
.score-five
input {
	background-color: #52A55C;
	color: white;
}

.ProjectGrid
.score-four,
.ProjectGrid
.score-four
input {
	background-color: #93B663;
	color: white;
}

.ProjectGrid
.score-three,
.ProjectGrid
.score-three
input {
	background-color: #D4C76A;
	color: white;
}

.ProjectGrid
.score-two,
.ProjectGrid
.score-two
input {
	background-color: #D4A86A;
	color: white;
}

.ProjectGrid
.score-one,
.ProjectGrid
.score-one
input {
	background-color: #D4886A;
	color: white;
}

.ProjectGrid .add-selector {
	text-align: right;
	width: 100%;
	border: 0;
}

.ProjectGrid
.grid-panel
.comment-input {
	width: 100%;
	text-align: left;
    border: 0px;
    min-height: 38px;
    resize:vertical;
}

.ProjectGrid .grid-panel .perspective {
	margin-right: 8px;
}

.ProjectGrid .error-message {
	color: red;
}

.ProjectGrid
th:hover .delete,
.ProjectGrid td:hover .delete {
    visibility: visible;
}

.ProjectGrid .delete {
    visibility: hidden;
    color: #6E5886;

    position: absolute;
    top: 30%;
    right: 0;

	float: right;
	padding-right: 8px;
}

.ProjectGrid
.delete:hover {
    color: red;
}

.ProjectGrid
.column-label .delete {
    top: 25%;
}

.ProjectGrid
.view-panel {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 30px;

    margin-top: 50px;
    line-height: 30px;

    background-color: #F1EBF7;
    color: #6E5886;

    border-bottom: 2px solid #6E5886;
}

.ProjectGrid
.action-panel {
    position: absolute;
    top: 0px;
    right: 31%;
    z-index: 2;

    display: flex;
    justify-content: space-between;
}

.action-selector {
    width: 250px;
    margin-right: 10px;

    background: #F1EBF7;

    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius:  4px;
       -moz-border-radius-bottomright:  4px;
       -moz-border-radius-bottomleft:   4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius:  4px;
}

.ProjectGrid
.action-button {
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	width: 100%;
}

.ProjectGrid
.action-button:hover {
    background: #E5D9F1;
}

.ProjectGrid
.action-button.selected {
    color: #fff;
    background: #6E5886;
}

.ProjectGrid
.action-button.selected:hover {
    background: #544465;
}

.ProjectGrid
.totals-footer {
    position: absolute;
    bottom: 30px;
    display: inherit;
    width: 100%;
}

.ProjectGrid
.legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;

	justify-content: space-between;
	        display: flex;

	background-color: white;
	text-align: center;
}

.ProjectGrid
.legend-item {
	font-size: 15px;
    line-height: 30px;
	cursor: pointer;
	width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

	padding-left: 8px;
	padding-right: 8px;
}
