<div class="ProjectGrid" v-if="store">

    <div class="not-found-notice" v-if="no_project"> Can't Find Scorecard </div>

    <div v-if="scorecard"> 
        <h4 class="project-header" v-text="scorecard.name"></h4>

        <div class="action-panel no-select">
            <div 
                title="Scores" 
                class="action-button"
                :class="[selected.comment_type == null ? 'selected' : '']"
                @click="select_comment_type(null)">
                <i :class="['fa', 'fa-trophy']"></i>
                Scores
            </div>
            <div 
                title="Action Plan" 
                class="action-button"
                :class="[selected.comment_type == 'action_plan' ? 'selected' : '']"
                @click="select_comment_type('action_plan')">
                <i :class="['fa', 'fa-bolt']"></i>
                Action Plan
            </div>
            <div 
                title="Lobby Plan" 
                class="action-button" 
                :class="[selected.comment_type == 'lobby_plan' ? 'selected' : '']"
                @click="select_comment_type('lobby_plan')">
                <i :class="['fa', 'fa-bank']"></i>
                Lobby Plan
            </div>
            <div 
                title="Contacts" 
                class="action-button"
                :class="[selected.comment_type == 'contacts' ? 'selected' : '']"
                @click="select_comment_type('contacts')">
                <i class="fa fa-users"></i>
                Contacts
            </div>
        </div>

        <table class="grid-panel">
            <thead>
                <tr>
                    <th class="row-label corner-label">Requirements</th>
                    <!-- Currently selected providers -->
                    <th v-for="selected_provider in scorecard.providers">
                        {{ selected_provider.name }}
                        <span class="delete fa fa-times" @click="remove_provider(selected_provider)"></span>
                    </th>
                    <!-- Add new provider selector -->
                    <th id="add-provider-cell">
                        <select v-if="sorted_requirements.length" class="add-selector" v-model="selected.provider">
                            <option value=""> Add Competitor... </option>
                            <option v-for="provider in remaining_providers" 
                                    v-bind:value="provider"> {{ provider.name }}
                            </option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="requirement in sorted_requirements">
                    <td class="row-label"> 
                        {{ requirement.name }} 
                        <span v-if="requirement.unit">({{ requirement.unit }})</span>
                        <span class="delete fa fa-times" @click="remove_requirement(requirement)"></span>
                    </td>

                    <td v-if="selected.comment_type == null" v-for="provider in sorted_providers" 
                        v-bind:class="class_for(provider, requirement)"> 

                        <input  class="score-value u-full-width" 
                                type='number'
                                v-model='score_for(provider,requirement).score' number
                                @click="selected_score($event)"
                                @keyup="save_scores | debounce 500"/>
                    </td>

                    <td v-if="selected.comment_type != null" colspan="{{ sorted_providers.length }}">
                        <input  class="comment-input" 
                                type="text"
                                placeholder="{{ selected.comment_type | pretty_var}} comment..."
                                v-model="requirement[selected.comment_type]"
                                @keyup="save_comment(requirement.id, requirement[selected.comment_type]) | debounce 500"
                                @keyup.enter="save_comment(requirement.id, requirement[selected.comment_type], true)"/>
                    </td>

                    <td class="no-select">
                        
                    </td>
                </tr>
                <!-- Add New Requirement selector -->
                <tr>
                    <td id="add-requirement-cell">
                        <select class="add-selector" v-model="selected.requirement">
                            <option value=""> Add Most Important Requirement... </option>
                            <option v-for="requirement in remaining_requirements" 
                                    v-bind:value="requirement"> {{ full_requirement_name(requirement) }} 
                            </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="grid-footer">
            <table>
                <thead>
                    <tr>
                        <th class="row-label">
                            <select class="scoring-options" v-model="selected.scoring_method">
                                <option v-for="method in scoring_methods" v-bind:value="method.value"> {{ method.text }} </option>
                            </select>
                        </th>
                        <th v-for="provider in sorted_providers">
                            <span class="total-value" v-text="selected.scoring_method(provider) | round '2' "></span>
                        </th>
                        <th v-bind:class="{ 'error-message': save_state.error }">
                            {{ save_state.text }}
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
